@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;        
}

/* Main body style*/
body {
    font-family: 'League Gothic', sans-serif;
   /* height: 100vh; */   
}

/*Background Image style*/
.background {
    background: url("../images/Background-Fantasy-Forest.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;      
}

/*Page Title Style*/
.page-title {
    font-size: 4em;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 0.2em;
    color:  #1b4076;
}
/*Game statistics style*/
.game-stats {
    font-size: 2em;
    letter-spacing: 0.05em;
    padding: 0.1em 0.1em;
    color:  #1b4076;
    text-align: center;
}

.stats {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 0.5em;
}